/* style.scss*/
.ba-logo {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.ba-menu{
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
}

.ba-menu__link {
    color: inherit;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 24px;
}

.ba-header {
    position: absolute;
    color: #ffffff;
    width: 100%;
    top: 35px;
    z-index: 1;

    .container {
        max-width: 995px;
    }
}

.ba-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 78px;
}

main {
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Rectangle2copy.png) ;
    z-index: 0;
    position: relative;
}

.ba-welcom {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100%;
    color: #ffffff;
}

.ba-overlay {
    position: absolute;
    background-color: #000000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    }

.ba-title {
    position: relative;
    top: 21px;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 48px;
        margin: 0px;
    }

    p {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        font-size: 20px;
    }

    &__btn {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        background: none;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        min-height: 41px;
        padding: 0 30px;
        top: 27px;
    }
    
    &__btn:hover {
        color: #6f1d11;
        font-weight: 700;
        opacity: .8;
        background: white;
    }
}

.ba-services {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;

    &_tt {
        margin: 100px auto 74px;
        }
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
}

#ba-par {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    color: #555555;
}

.ba-dash {
    height: 3px;
    width: 47px;
    background-color: #555555;
    margin: 20px auto;
}

.ba-font_aw {
    height: 88px;
    width: 88px;
    border-radius: 50%;
    border: 2px solid #dedede;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas, .far {
    color: #c0301c;
    font-size: 41px;
    font-weight: 400;
}

.fab {
    color: #ffffff;
    font-size: 16px;
}


.ba-font_aw:hover {
    background-color: #c0301c;
    .fas, .far {
        color: white;
    }
}

.ba-services_menu {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 14px;
    color: #555555;

    h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.ba-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;

}

.ba-about {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
    margin-bottom: 76px;

    &_tt {
        margin: 100px auto 74px;
    }
}

.left {
    text-align: left;
}

.ba-memder {
    .member_hover {
        display: none;
    }
}

.ba-memder:hover {
    position: relative;
    .member_hover {
        display: block;
        position: absolute;
        background-color: #000000;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: .5;
    }
}

.ba-socials {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}

.ba-social {
    width: 24px;
    height: 24px;
    display: table-cell;
    vertical-align: middle
}

.ba-social:hover {
    background-color: #c0301c;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    height: 38px;
    width: 38px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    background: #8f8f8f;
}

.slick-prev:hover, .slick-next:hover {
    color: white;
    background: #c0301c;
}

.ba-footer { 
    height: 100px;
}